<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jadson.zjob.dao.mapper.ZJobUserMapper">
  <resultMap id="BaseResultMap" type="com.jadson.zjob.model.ZJobUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="role" jdbcType="INTEGER" property="role" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
  </resultMap>

  <sql id="BaseColumnSql">
    id, username, password, role, permission
  </sql>

  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="BaseColumnSql"/> from zjob_user
  </select>
</mapper>